body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3b0a0a;
    padding: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

main {
    padding: 20px;
}

.intro {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls button, .controls input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#recipeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%; /* Adjusted width to make the card long */
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left */
    overflow: hidden;
    display: flex; /* Use flexbox for layout */
}

.recipe-card img {
    width: 200px; /* Set a fixed width for the image */
    height: 100%; /* Make the image fill the card height */
    object-fit: cover; /* Ensures the image covers the area */
    cursor: pointer; /* Makes it clear the image is clickable */
}

.recipe-content {
    padding: 10px;
    flex: 1;
}

.recipe-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.recipe-card p {
    margin: 10px 0;
}

footer {
    background-color: #3b0a0a;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
