#jokes-container {
    /* background-image: url('/assets/images/Chef-server.png'); */
    background: whitesmoke;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    border-radius: 8px;
    display: flex;
    font-size: medium;
    margin-bottom: -40px;
    padding: 20px;
    margin-left: 10px;
  }

.button {
    border: none;
    margin: 0;
    padding: 0;
}

#goBack{
    background: #d58936;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#jokesButton{
    background: #d58936;
    border: #d58936 ;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
/* Style for header */
/* .header {
    min-height: 50px;
    padding: 20px;
    text-align: right;
    color: white;
    font-size: 30px;
    background: #3C1518;
} */



.topBarResults {
    display: flex;
    height: 100px;
    width: 100%;
    /* background: #1d080a; */
    background-image: linear-gradient(#3C1518 19%, #1d080a 75%);
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.headerImgResults {
  width: 150px;
  margin-top: 45px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: 20px;

  display: flex;
  /* min-height: 10px; */
  padding: 0px;
  text-align: center;
  /* color: white; */
  /* font-size: 10px; */
  justify-content: center;
  border: solid 5px #3C1518;
  border-radius: 50%;
  filter:drop-shadow(2px 4px 6px black);

}

.col {
    display: flex;
    flex-direction: column;
}


.titleLeft {
display: flex;

}

.titleRight {
display: flex;
justify-content: center;

}

/* Additional styles for recipe card */
.recipe-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    font-size: xx-small;
    margin-bottom: -40px;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.recipe-card img {
    width: 200px; /* Fixed width for the image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area */
    margin: 10px;
}

#recipe-cont {
    margin-top: 15px;
    margin-left: 15px;
}

.recipe-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-card .card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-card .card-subtitle {
    font-size: 18px;
    margin-bottom: 15px;
}

.recipe-card .card-text {
    font-size: 16px;
}

#recipes-container{
    background: whitesmoke;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    border-radius: 8px;
    display: flex;
    font-size: xx-small;
    margin-bottom: -40px;
    padding: 20px;
    margin-right: 5px;
}

#ingredients{
    column-count: 2;
}

.jokesCol {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

