:root {
  --yellow: #FFC92F;
}

.hi-melody-regular {
  font-family: "Hi Melody", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.give-you-glory-regular {
  font-family: "Give You Glory", cursive;
  font-weight: 400;
  font-style: normal;
}

.bg {
  background-image: url("/assets/images/background-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.topBar {
  display: flex;
  height: 100px;
  width: auto;
  /* background: #1d080a; */
  background-image: linear-gradient(#3C1518 19%, #1d080a 75%);
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  border-radius: 50%;
  margin-top: 5px;
  /* max-height: 100%;
    /* object-fit: cover;
    object-position: 50% 50%; */
}

.headerImg {
  width: 200px;
  margin-top: 90px;
  height: 200px;
  /* position: sticky; */
  display: flex;
  /* min-height: 10px; */
  padding: 0px;
  text-align: center;
  /* color: white; */
  /* font-size: 10px; */
  justify-content: center;
  border: solid 5px #3C1518;
  border-radius: 50%;



  filter:drop-shadow(2px 4px 6px black)

}

mark.pageTitle {
  font-weight: bold;
  background-color: transparent;

}


.titleText {
  display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
    /* border: solid 5px #3C1518; */
    /* border-radius: 25%; */
    flex-direction: column;
    align-items: center;
    align-content: center;
  /* border: solid 5px #3C1518; */
  /* border-radius: 25%; */
}

.headerText {
  color: #3C1518;
  text-shadow: 1px 1px 2px rgb(1, 0, 0), 0 0 1em rgb(197, 197, 202), 0 0 0.2em rgb(255, 179, 0);
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  /* padding-bottom: 5px; */
  padding-left: 35px;
  padding-top: 35px;
  padding-right: 35px;

}

.subHeader {
  /*font-family: "Give You Glory", cursive, bolder;
padding-bottom: 15px;
*/
font-family: "Caveat", cursive;
color: #d58936;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  text-shadow: 1px 1px 2px rgb(1, 0, 0), 0 0 1em rgb(197, 197, 202), 0 0 0.2em rgb(97, 53, 4);
 /* text-shadow:1px 1px #3C1518;;
*/}
/*
.labeltext{
  color: #fffb46;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgb(1, 0, 0), 0 0 1em rgb(197, 197, 202), 0 0 0.2em rgb(97, 53, 4);
}
*/

.centralTextBox {
  margin-top: 20px;
  padding: 15px;
  border-color: #1d080a;
  background-color: #e8ac00;
  color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), -5px 5px 9px rgba(0, 0, 0, 0.24);
}

.card-body{
  text-align: center;
  margin-bottom: 0;
}


.formInput {
  display: flex;
  /* margin-left: 250px; */
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 600px; */
  align-items: center;
  margin-bottom: 25px;
  /* font-family: "Give You Glory", cursive; */

}

.mainSearch {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 15px;
  border-color: #1d080a;
  background-color: #3C1518;
  color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), -5px 5px 9px rgba(0, 0, 0, 0.24);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transition: all 0.5s ease-in-out; */

  }
  

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control:hover, .form-control:hover {
  box-shadow: inset 0px 0px 8px rgb(247, 245, 247), 0 0 10px rgb(255, 179, 0);


}



.btn.btn-primary {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: center;
}

.btn.btn-warning:hover, .btn.btn-warning:hover {
  display: flex;
  box-shadow: inset 0px 0px 8px rgb(247, 245, 247), 0 0 10px rgb(255, 179, 0);

}

body {
  margin: 0;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


  min-height: 75px;
  align-content: center;
  bottom: 0;
  color: white;
  background-image: linear-gradient(#1d080a 19%, #3C1518 75%);

  display: block;
  text-align: center;
}

#footerListItem {
  list-style: none;
}

#footerLink {
  text-decoration: none;
  color: white;
}